<% provide(:title, @job.title) %>
<div class="container">
	<h2><%= @job.title %></h2>
	<h2><%= @job.company %></h2>
	<h2><%= @job.location %></h2>
	<%= link_to "Visit Job Listing", @job.link %>
</div>
